/**
* Panels
*/

.sac {
  background: #ff9800 !important;
}

.sac .card-title {
  color: #fff !important;
}

.blue {
  background: #ff9800 !important;
}

.red {
  background: #ff9800 !important;
}

.red .card-title {
  color: #fff !important;
}

.blue .card-title {
  color: #fff !important;
}

.list-item {
  position: relative !important;
}

/**
* Supports
*/
.hover-me {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.no-wrap {
  white-space: normal !important;
}

.logo-login {
  text-align: center;
  margin-bottom: 1.5em;
}

.hover-me:hover {
  background-color: #f3f4fa4a !important;
}

.help-block {
  display: block;
  font-size: small;
  color: red;
  font-weight: 700;
}

.cl-title {
  color: #000 !important;
  font-weight: 700;
}

.reset-padding {
  padding: 1em !important;
}

.margin-1 {
  margin: 0.5em !important;
}

.margin-btn {
  margin-right: 1em;
}

.card-actions {
  display: inline-flex;
  float: right;
}

.card-action-title {
  display: inline-block;
}

.pull-right {
  text-align: right !important;
}

.f-upper {
  font-size: 1.3em !important;
}

.no-margin {
  margin: 0 !important;
}

.breadcrumb-item.active {
  font-weight: bold !important;
}

.relative {
  position: relative !important;
}

.bottom {
  margin-bottom: 1.5em !important;
}

.d-inline {
  display: inline-block !important;
}

.pagination-table {
  margin-top: 1.5em;
  float: right;
}

.release img {
  width: 100%;
}

.m-bottom {
  margin-bottom: 1.5em !important;
}

.message-body {
  padding: 1em;
  background: #eee;
  border-radius: 0.5em;
}

/**
* Tables
*/

.action-icon {
  font-size: 1.3em !important;
  margin-left: 0.5em;
  color: #635f5f !important;
}

.-success:hover {
  color: #19d895 !important;
}

.-warning:hover {
  color: #ffaf00 !important;
}

.-danger:hover {
  color: #ff6258 !important;
}

.legend {
  display: block;
  font-size: 0.7em;
  font-weight: 700;
  margin: 1em;
}

/**
* Resets
*/

.navbar.horizontal-layout .nav-bottom .page-navigation {
  background: #3a3a3a !important;
}

.navbar.horizontal-layout .nav-bottom {
  background: #3a3a3a !important;
}

.navbar.horizontal-layout .nav-bottom .page-navigation > .nav-item.active > .nav-link {
  background: #ffb342 !important;
  color: #fff !important;
}

.navbar.horizontal-layout .nav-bottom .page-navigation > .nav-item > .nav-link:hover {
  background: #ff9800 !important;
  color: #fff !important;
}

.navbar.horizontal-layout .nav-bottom .page-navigation > .nav-item .submenu ul li a:hover {
  background: #ff9800 !important;
  color: #fff;
}

.navbar.horizontal-layout .nav-bottom .page-navigation > .nav-item .submenu ul li.active a {
  background: #ff9800 !important;
  color: #fff !important;
}

.navbar.horizontal-layout .nav-bottom .page-navigation > .nav-item .submenu ul li:hover {
  background: #ff9800 !important;
}

.navbar.horizontal-layout .nav-bottom .page-navigation > .nav-item:hover > .nav-link {
  background: #ffb342 !important;
}

.breadcrumb {
  background-color: #ff9800 !important;
}

.navbar.horizontal-layout .nav-top .navbar-brand-wrapper .navbar-brand img {
  height: 50px !important;
  border-radius: 15px;
}

.navbar.horizontal-layout {
  background:  #ff9800 !important;
}

.navbar.horizontal-layout .nav-top .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
  color: #fff !important;
}

.navbar.horizontal-layout .nav-top .navbar-menu-wrapper .navbar-toggler {
  color: #fff !important;
}

/** reset mobile */

@media (max-width: 768px) {
  .navbar.horizontal-layout .nav-bottom .page-navigation > .nav-item > .nav-link {
    background:  #607d8b !important;
  }
  .no-margin {
    margin-bottom: 1em !important;
  }

  .card-body {
    overflow-y: auto;
  }

  .table.table-striped thead tr, .jsgrid .table-striped.jsgrid-table thead tr {
    background-color: #3a3a3a1f !important;
  }

  .table thead th, .jsgrid .jsgrid-table thead th {
    font-size: small;
    margin: 0;
  }
}

/* creates */

.visitis-chart {
  padding: 1em;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  color: #4caf50;
}

.visitis-desc {
  text-align: center;
}
